.header {
  width: 90vw;
  height: 80px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;

  &__main-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__basket-container {
    margin-right: 0;
    margin-left: auto;
  }

}
