@import "total";
@import "vars";

.basket {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  background-color: $basket-style;
  color: #fff;

  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: rgba(1,1,1, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__box {
    margin-top: 143px;
  }

  &__thanks-text {
    padding: 0 39px;

  }

  &__container {
    max-height: 370px;
    overflow: auto;
  }

  &__button {
    color: #fff;
    background-color: $basket-style;
    border: 2px solid #fff;
    margin-left: 39px;
    margin-top: 45px;

    &:active {
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }
}

.disapper {
  display: none;
}

.basket-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5%;
  background-color: $basket-style;
}
